* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}
.message {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 3em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: rgb(175, 251, 121);
	padding: 30px;
	box-shadow: rgba(20, 1, 1, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: rgb(90, 251, 96);
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
    .message{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}
#flapButton {
	/* Add your custom styles for the flap button */
	/* For example: */
	position: absolute;
	bottom: 10%; /* Adjust the position as per your preference */
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 40px;
	background-color: #00FFFF;
	color: white;
	font-size: 16px;
	cursor: pointer;
  }
@media (max-width: 767px) {
  #flapButton {
    /* Add your mobile-specific styles here */
    /* For example: */
    position: absolute;
    bottom: 10%; /* Adjust the position as per your preference */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
  }
}

/* Styles for PC screens */
@media (min-width: 768px) {
  #flapButton {
    /* Add your PC-specific styles here */
    /* For example: */
    display: none; /* Hide the button on PC, it will be triggered with keyboard controls */
  }
}
